::ng-deep .p-inputtext:enabled:focus {
  border-color: #ff7444;
  box-shadow: 0 0 0 0.2rem rgba(255, 116, 68, 0.25);
}

::ng-deep p-password .p-inputtext:enabled:focus {
  border-color: #ff7444 !important;
  box-shadow: 0 0 0 0.2rem rgba(255, 116, 68, 0.25) !important;
}

::ng-deep .p-dropdown:not(.p-disabled).p-focus {
  border-color: #ff7444;
  box-shadow: 0 0 0 0.2rem rgba(255, 116, 68, 0.25);
}

::ng-deep .p-button {
  border: none !important;
}
::ng-deep .p-dropdown .p-select-label {
  color: #4b5563;
}
