.kitchen-container {
  display: flex;
  gap: 20px;
  padding: 20px;
}
.form-card {
  flex: 1;
  padding: 20px;
  height: fit-content;
}
.my-recipes {
  flex: 1;
}
.full-width {
  width: 100%;
  margin-bottom: 10px;
}
.mini-card {
  margin-bottom: 10px;
  padding: 10px;
}
.card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
